<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/css/payment.css"/>
</head>
<body>
    <form id="payment_confirmation" action="<%= cybersourceUrl %>" method="post">
        <fieldset id="confirmation">
            <legend>Review Payment Details</legend>
            <div>
                <% Object.keys(params).forEach(name => { %>
                    <div>
                        <span class="fieldName"><%= name %></span>
                        <span class="fieldValue"><%= params[name] %></span>
                    </div>
                <% }); %>
            </div>
        </fieldset>
        
        <% Object.keys(params).forEach(name => { %>
            <input type="hidden" id="<%= name %>" name="<%= name %>" value="<%= params[name] %>"/>
        <% }); %>
        
        <input type="submit" id="submit" value="Confirm"/>
    </form>
</body>
</html>